.site-content {
  background: #111;
  display: grid;
  align-items: center;
  // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  // column-gap: 15px;
  border-radius: 10px;

  // .about {
  //   position: fixed;
  //   width: 45%;
  // }

  // .card-container {
  //   margin-left: 50%;
  // }
}