@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yusei+Magic&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px 30px;
  font-family: 'Roboto', sans-serif;
  /* background: #1c1c1c; */
  background: #1b1b1b;
  /* background: #131212; */
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}